.header{
  background-image: url(../img/img1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainLogo{
  animation: fadeIn 4s;
}

@keyframes fadeIn {
  0% { opacity:0 }
  100% { opacity:1 }
}