@font-face{
  font-family: 'minster1';
  src: url(../assets/fonts/minster1.ttf);
}
@font-face{
  font-family: 'minster2';
  src: url(../assets/fonts/minster2.ttf);
}
@font-face{
  font-family: 'minster3';
  src: url(../assets/fonts/minster3.ttf);
}
@font-face{
  font-family: 'minster4';
  src: url(../assets/fonts/minster4.ttf);
}
@font-face{
  font-family: 'minster5';
  src: url(../assets/fonts/minster5.ttf);
}
@font-face{
  font-family: 'minster6';
  src: url(../assets/fonts/minster6.ttf);
}

.header{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.backImg{
  animation: fadeIn 5s;
  background-image: url(../assets/img/img1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width:100%;
  z-index: 0;
  position:relative;
  box-shadow: inset 0 0 15vw #7f90b16e;
}

.mainLogo{
  animation: fadeInDelay 4s;
  z-index:5;
  position:absolute;
  font-family:'minster1', Fallback, sans-serif;
  font-weight: 100;
  font-size: 10vw;
  color:rgb(231, 231, 231);
  text-shadow:
  0 0 4px #7d6634, 0 0 4px #7d6634, 0 0 4px #7d6634, 0 0 4px #7d6634, 0 0 4px #7d6634,0 0 4px #7d6634, 0 0 4px #7d6634, 0 0 4px #7d6634, 0 0 4px #7d6634, 0 0 4px #7d6634,
  0 0 15vw black, 0 0 10vw black,0 0 7vw black, 0 0 5vw black;
}


@keyframes fadeIn {
  0% { opacity:0 }
  100% { opacity:1 }
}
@keyframes fadeInDelay {
  0% { opacity:0 }
  20% {opacity:0}
  80% { opacity:1 }
}