@media screen and (max-width: 1023px) {
  /*NAVBAR*/
  #navBar {
    height: 50px;
  }
  .logoWrap{
margin-right:12vw
  }
  
  /*HEADER*/
  .mainLogo {
    padding:0px 60px;
    font-size: 25vw;
    text-align: center;
  }
}
