
@media screen and (max-width:768px){
  /*NAVBAR*/
  .bars{
    display:block;
    position:absolute;
    top:0;
    right:0;
    transform: translate(-100%, 75%);
    font-size: 1.8 rem;
    cursor: pointer;
  }
  .navMenu{
    display: none;
  }
}