@media screen and (max-width: 766px) {
  /*GLOBAL*/
  .sectionHeader {
    padding-top: 0px;
    margin: 0px;
    margin-top: 50px;
    font-size: 12vw;
  }
  .smallHeader {
    font-size: 10vw;
  }
  /*Header*/
  .header {
    width: 98vw;
  }
  .mainLogo {
    font-size: 30vw;
    text-align: center;
    justify-content: center;
  }
  /*NAVBAR*/
  .bars {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 25%);
    font-size: 1.8 rem;
    cursor: pointer;
  }
  .navMenu {
    display: none;
  }
  .navBarLogo {
    display: none;
  }
  #navBar {
    height: 40px;
    padding: 0;
    left: 0;
  }
  /*SIDEBAR*/
  .navMenu2 {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  .closeIcon {
    top: 0;
    margin: 0;
    padding: 0;
    position: fixed;
    z-index: 4000;
    width: 100vw;
    height: 50px;
    background-color: black;
  }
  .iconInner {
    text-align: right;
    align-items: right;
  }
  .closeIcon ion-icon {
    padding-left: 90%;
    padding-top: 10px;
  }
  .dropdown2 {
    height: 40px;
  }
  .smaller {
    padding: 0;
    margin: 0;
  }
  .navLink {
    height: 0;
  }

  /*ABOUT*/
  #about {
    padding: 30px;
  }
  .victoria {
    width: 90%;
  }
  .aboutText {
    width: 100%;
    font-size: 1rem;
    padding-bottom: 30px;
  }
  /*FAQ*/
  #faq {
    padding: 0;
    padding: 20px 20px 70px 20px;
  }

  #faq h5 {
    font-size: 1rem;
  }
  #faq p {
    font-size: 0.75rem;
  }
  /*Location*/
  #location {
    padding: 0;
    margin: 0;
  }
  /*Gallery*/
  #galleryContainer {
    padding: 30px;
    padding-top: 0;
  }
  #gallery img:hover {
    transition: 0.5s;
    transform: scale(1);
    border: none;
    box-shadow: none;
  }
  #gallery img {
    width: 100%;
    height: auto;
  }
  .imgHeader {
    padding-bottom: 0px;
  }
  /*CONTACT*/
  #contact {
    padding-top: 0;
  }
  #contactForm {
    width: 90%;
  }
  #contact input,
  #contact textarea,
  #contact select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
}
